
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1 Terrace</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class='content'>
  
    {{{ body }}}
    
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/build.js"></script>
  </div>
  </body>
  <footer>
      <div>One Terrace Website</div>
  </footer>  
</html>
