
*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

    margin: 0;
    padding: 0 0 40px 0;

    color: #2c3e50;
    background: url('../images/skulls.png');
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


.page-top-wrapper
{
	border-bottom: 4px dashed black;
}

.page-top
{
	width: 100%;
	margin-bottom: 10px;
	display: -webkit-inline-flex;
	-webkit-align-items: center;
}