.nav-bar
{
    width: 100%;
    min-width: 400px;
    height: 60px;

    background: url('../images/wild_oliva.png');
    border-left: 5px solid #c8ccd0;
    border-top: 2px solid #c8ccd0;
    border-bottom: 2px solid #c8ccd0;
    border-radius: 5px;
    /** background: #3c4143; */

    line-height: 40px;
    vertical-align: middle;

    display: -webkit-inline-flex;
    -webkit-align-items: center;
}

.nav-list
{
    list-style-type: none;
    cursor: pointer;
    padding-left: 5px;
}

.nav-list-item
{
    border-right: 3px solid black;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #c8ccd0;

    display: inline;
    list-style-type: none;
    padding: 8px 15px 8px 15px;
}

.nav-list-item-selected
{
    color: #e5e600;
    background: url('../images/selected_nav_item.png');
    background-position: center;
    background-repeat: no-repeat;
}

.nav-list li:hover
{
    color: #e5e600;
}
