

.profile-card
{
	width: 450px;
	height: 250px;

	background: url('../images/light_grey.png');
	border: 1px dashed black;
	border-radius: 15px;

	margin: 10px 20px 10px 5px;
	display: inline-block;
	overflow: hidden;
}


.profile-card-name
{
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #2c3e50;

	display: block;
}

.profile-card-info
{
    width: 440px;
    height: 210px;
    text-align: left;
	display: -webkit-flex;
    -webkit-align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.profile-card-image-wrapper
{
    width: 150px;
    height: inherit;
}

.profile-card-image
{
    text-align: center;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.profile-card-image img
{
	max-width: 140px;
	max-height: 200px;
}

.profile-card-body-wrapper
{
    background: pink;
    width: 290px;
    height: inherit;
}

.profile-card-body
{
    background: orange;
	display: block;
}